.background 
{
    -fx-background-color:rgb(253, 251, 182);
}

.background-darker
{
    -fx-background-color:rgb(242, 239, 123);
}

.text-area .scroll-pane 
{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport
{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content
{
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.titled-pane > .title 
{
	-fx-background-color:rgb(242, 239, 123);
}

.tab
{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
    -fx-background-color: rgb(253, 251, 182);
}

.tab .tab-label 
{ 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label 
{ 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.button:hover 
{
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, 
        rgba(0,0,0,0.05), rgba(0,0,0,0.05));
}


//.button:disabled
//{
//  -fx-background-image: url('../icons/gray.png');
//  -fx-background-repeat: no-repeat;
//  -fx-background-position: center;
//}

#txtNote .scroll-pane
{
     -fx-hbar-policy : never;
     -fx-vbar-policy : never;
}

.toggle-button:hover 
{
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, 
        rgba(0,0,0,0.05), rgba(0,0,0,0.05));
}

.toggle-button:selected 
{
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, 
        rgba(0,0,0,0.05), rgba(0,0,0,0.05));
}

.html-editor 
{
	-fx-base: rgb(253, 251, 182);
	-fx-color: rgb(253, 251, 182);
	
	-fx-body-color: rgb(253, 251, 182);
	-fx-background-color: rgb(253, 251, 182);
	-fx-background: rgb(253, 251, 182);
	-fx-border-color: rgb(253, 251, 182);

	-fx-mark-color: rgb(253, 251, 182);
}